/* Stylesheet for The Advantage microsite */

/* 1. Imported fonts from Google*/
@import url('https://fonts.googleapis.com/css?family=Arimo|GFS+Didot');

/* 2. Global styling */

.content h2,h3,h4,h5,h6,p {
  font-family: 'Arimo', sans-serif;
}

.masthead-image h1 span, .masthead-image h1, .masthead-image h2 {
  font-family: 'GFS Didot', serif;
  text-align: center;
}

.content h2 {
  color: #000;
  letter-spacing: 0;
}

.masthead-image h1 {
font-size: 66px;
letter-spacing: -1px;
font-weight: 400;
}

.masthead-image.darken:before {
    opacity: 0.7;
}

.content .inner {
  max-width: 75%;
}

.intro-text {
    float: left;
    max-width: 62%;
}

.adv-callout {
    float: right;
    background-color: #2d7bab;
    padding: .4em 4em;
    position: relative;
    top: 4em;
    right: 0;
}

.content+.content {
  border-top:none;
}

.adv-callout h4, .adv-callout h2 {
    color: #fff;
}

.adv-callout a {
  font-family: 'Arimo', sans-serif;
}

.adv-callout a.btn {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    margin: 2em 0;
}

.inner h2 {
    line-height: 1.3em;
}

.adv-callout h2 {
    margin: .2em 0;
}


.supp-text article.Two:first-child {
  width:33%;
}

.supp-text .text-right {
  margin: 3em 1em;
}

/* Media queries */

@media only screen and (min-width: 1440px) {
.masthead-image h2 {
    font-size: 42px;
}
}

@media only screen and (min-width: 768px) {
.masthead-image h1 span {
    padding: 0px 0px 30px 0;
}
}

@media only screen and (min-width: 1440px) {
.masthead-container {
    height: 480px;
}
}

@media only screen and (min-width: 1024px) {
.content .inner {
    max-width: 75%;
}
}

@media only screen and (min-width: 414px) {
.supp-text img {
    width: 100%;
    margin: 1em;
    float: left;
}
}

@media only screen and (min-width: 900px) {
.supp-text article.Two:first-child {
  width:33%;
}

}

@media only screen and (min-width: 900px) {
.supp-text article.Two {
  width:60%;
}

}
